[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/oz-06"]
	path = lib/oz-06
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/oz-08"]
	path = lib/oz-08
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
