[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts-08"]
	path = lib/openzeppelin-contracts-08
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
	branch = release-v4.7
[submodule "lib/openzeppelin-contracts-06"]
	path = lib/openzeppelin-contracts-06
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
	branch = release-v3.4
